.table {
  width: 998px;
  max-height: 80vh;
  color: #77777c;
  display: flex;
  flex-direction: column;
  background-color: #f5f4f7;
  border: 1px solid #777984;
  border-radius: 5px;
  overflow: hidden;
}
.prefixes {
  margin-top: 3rem;
  font-weight: 700;
  font-size: 20px;
  color: #2e2e32;
  margin-bottom: 2rem;
}
.rows {
  overflow-y: scroll;
}
.table-header {
  color: #2e2e32;
  font-weight: 700;
  min-height: 40px;
  max-height: 40px;
  display: flex;
  padding: 0.25rem 1rem;
  align-items: center;
  background-color: #eae5e5;
  border-bottom: 1px solid #777984;
}
.table-row {
  padding: 0.25rem 1rem;
  display: grid;
  align-items: center;
  grid-template-columns: fit-content(2rem) 2fr 1fr;
}
.table-row:hover {
  background-color: #f5f4f7;
}
.table-row:not(:last-child) {
  border-bottom: 1px solid #777984;
}
.td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.actions {
  display: grid;
  grid-template-columns: auto;
  justify-items: end;
  justify-content: end;
}
.action-btn {
  background-color: transparent;
  border: none;
  outline: none;
}
.action-icon {
  height: 1.25rem;
  width: 1.25rem;
  color: #a8aaad;
}
.action-icon:hover {
  color: #5d5d61;
}
.action-icon[disabled] {
  color: #d3d6dd;
}
.back-icon {
  color: #a8aaad;
  margin-right: 10px;
}
.back-icon:hover {
  color: #5d5d61;
}
.back-icon[disabled] {
  color: #d3d6dd;
}
.file-name {
  font-size: 0.875rem;
  font-weight: 600;
  color: #3f83f8;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 1rem;
  text-decoration: none;
}
.file-name-disabled {
  color: #777984;
  font-size: 0.875rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 1rem;
  text-decoration: none;
}
.file-name:hover {
  cursor: pointer;
  text-decoration: underline;
}
.file-icon {
  color: #777984;
}
.preview-container {
  width: 998px;
  max-height: 80vh;
  color: #77777c;
  display: flex;
  flex-direction: column;
  background-color: #f5f4f7;
  border: 1px solid #777984;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}
.preview-nav {
  height: 40px;
  color: #2e2e32;
  font-weight: 700;
  min-height: 40px;
  display: flex;
  padding: 0.25rem 1rem;
  align-items: center;
  background-color: #eae5e5;
  border-bottom: 1px solid #777984;
}
.img-container {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}
img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap");

::-webkit-scrollbar {
  max-width: 5px;
  max-height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f6f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
