.table {
  width: 998px;
  max-height: 80vh;
  color: #77777c;
  display: flex;
  flex-direction: column;
  background-color: #f5f4f7;
  border: 1px solid #777984;
  border-radius: 5px;
  overflow: hidden;
}

.prefixes span {
  color: #82838d;
}
.prefixes span:last-child {
  color: #2e2e32;
}
.prefixes span:hover {
  color: #2e2e32;
}

.table-header .left {
  display: flex;
  align-items: center;
}

.table-row .right {
  display: flex;
  align-items: center;
}

.table-row:hover {
  background-color: #f5f4f7;
}
.table-row:not(:last-child) {
  border-bottom: 1px solid #777984;
}
.td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.checkbox-icon {
  display: flex;
  align-items: center;
}
.checkbox-icon .checkbox {
  margin-right: 1rem;
}
.actions {
  display: grid;
  grid-template-columns: auto;
  justify-items: end;
  justify-content: end;
}
.action-btn {
  background-color: transparent;
  border: none;
  outline: none;
}
.action-icon {
  height: 1.25rem;
  width: 1.25rem;
  color: #a8aaad;
}
.action-icon:hover {
  color: #5d5d61;
}
.action-icon[disabled] {
  color: #d3d6dd;
}
.header-icon {
  color: #a8aaad;
}
.mgr-10px {
  margin-right: 10px;
}
.header-icon:hover {
  color: #5d5d61;
}
.header-icon[disabled] {
  color: #d3d6dd;
}
.file-name {
  font-size: 0.875rem;
  font-weight: 600;
  color: #3f83f8;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 1rem;
  text-decoration: none;
}
.file-name-disabled {
  color: #777984;
  font-size: 0.875rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 1rem;
  text-decoration: none;
}
.file-name:hover {
  cursor: pointer;
  text-decoration: underline;
}
.file-icon {
  color: #777984;
}
.preview-container {
  width: 998px;
  max-height: 80vh;
  color: #77777c;
  display: flex;
  flex-direction: column;
  background-color: #f5f4f7;
  border: 1px solid #777984;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}
.preview-nav {
  height: 40px;
  color: #2e2e32;
  font-weight: 700;
  min-height: 40px;
  display: flex;
  padding: 0.25rem 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: #eae5e5;
  border-bottom: 1px solid #777984;
}
.preview-nav .left {
  display: flex;
  align-items: center;
}
.preview-nav .right {
  display: flex;
  align-items: center;
}
.img-container {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}
img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.toast-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upload-toast {
  width: 300px;
  height: 40px;

  color: #777984;
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f6f1f1;
  z-index: 9999;
  border: 0.5px solid #777984;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgb(16 22 26 / 20%), 0 2px 4px rgb(16 22 26 / 40%),
    0 8px 24px rgb(16 22 26 / 40%);
}
::-webkit-scrollbar {
  max-width: 5px;
  max-height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f6f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
